body {
  background-color: darkcyan;
  font-size: larger;
}



h1 {
  color: greenyellow;
  text-align: center;
}

h2 {
  color: greenyellow;
  text-align: center;
}


p {
  color:  white;
text-align: center ;
}

img    {
    border-radius: 500%;
}
