body {
  background-color: white;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: orange;
  text-align: center;
}

p {
  color: red;
text-align: center ;
}

button {
  color: rgb(0, 76, 255);
}
